# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/

# Django
*.log
db.sqlite3


staticfiles/
*.pot
*.pyc
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore local environment files
*.env
*.env.local
*.env.production
*.env.development

# Ignore Pytest cache
.cache/

# Ignore coverage reports
.coverage
coverage.xml
htmlcov/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other temporary files
*.bak
*.swp
*~
# Ignore Django migrations
*/migrations/*

# Ignore custom secrets or sensitive configuration files
secrets.json


# Ignore build and dist directories
build/
dist/
