# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
