{% extends 'recipes/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Welcome to the Recipe List!</h1>

        <!-- If the user is logged in, show Logout, Profile, and Add Recipe options -->
        {% if user.is_authenticated %}
            <p class="text-muted">Hello, {{ user.username }}!</p>
            <a href="{% url 'add_recipe' %}" class="btn btn-success mt-2">Add New Recipe</a> <!-- Add New Recipe Button -->
       
        {% endif %}  

        <div class="row mt-4">
            {% for recipe in recipes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h5>
                        <p class="card-text">{{ recipe.description|truncatewords:20 }}</p>
                        <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-info">View Details</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p>No recipes available.</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}